{% extends "base.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <div class="container-fluid bg-dark text-white min-100" style="height:100%;">
    <p class="text-center fs-2" style="padding-top: 50px;padding-bottom: 40px;">Thanks for join us 😏</p>
    <div class="row justify-content-evenly" style="padding-bottom: 200px;">
      <div class="col-4">
        <form class="" action="/create_account" method="post">
          {{ form.csrf_token }} <br>
          {{ form.username(size=40) }} <br>
          {{ form.email(size=40) }} <br>
          {{ form.password(size=40) }} <br>
          {{ form.confirm_password(size=40) }} <br><br>
          {{ form.submit }}
        </form>
      </div>
      <div class="col-4" style="padding-top: 20px;">
        <ul>
          {% for field, errors in error_list %}
            {% for error in errors %}
              <li>Error in the field <strong>{{ field }}</strong>, error: <em>{{error}}</em> </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
